# editorconfig.org
.editorconfig

# Git attributes
.gitattributes

logo

# Vagrant files and folders
    # Vagrant provision folder
    provision

    # Vagrant VM file
    vagrantfile

# Tasks folder
tasks

# Tests folder
tests
