# editorconfig.org
.editorconfig

# Git attributes
.gitattributes

# Code coverage reports
coverage

logo

# Vagrant files and folders
    # Vagrant provision folder
    vagrant

    # Vagrant VM file
    vagrantfile

# Gulp tasks folder
gulp

# Tests folder
tests
